################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Uyumsoft Projem/.vs/Uyumsoft Projem
